.pytest_cache
__pycache__
.mypy_cache
.pytest_cache/
.docker/
.env/
.venv/
build/
dist/
.Spotlight-V100
.Trashes
.DS_Store
.vscode/
.idea/
*.strg
*.ldch
*.epcm
*.trch
*.apcv
*.apcp
*.apcc
*.apca
*.aphc
*.slam
*.tivr
*.cala
*.phad
*.slag
*.ldch
*.epcm
*.trch
*.strg
*.spat
*.logs
.jobs
jobs/
logs/
*.swp
